<!DOCTYPE html>
<!-- TODO voire pourquoi les regles s'affichent deux fois -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Webapp - Mif16</h1>
    <h3>Jules Bonhotal - Joe Toubia - Badreddine Ouar (group 5)</h3>
    <div class="parent">
        <div class="child">
            <form method="post">
            <label for="user_input">Enter Rules ([{ruleName}] {premises} {-> or =>} {conclusion} {ruleWeight} format):</label><br>
            <textarea id="user_input" name="user_input" rows="10" cols="100"></textarea><br>
            <button type="submit">Submit</button>
            </form>
        </div>
        

        <div class="child">
            <h3>Example Rules:</h3>
                <pre>
[r1] -> a 1
[r2] d,b => c 1
[r3] !c -> d 1
[r10] !c,b -> !d 1
[r11] !c,d -> !b 1
[r12] !d -> c 1
[r4] a => !d 0
[r5] => b 1
[r6] => !c 1
[r7] => d 0
[r8] c => e 0
[r9] !c => !r4 0
                </pre>
        </div>
    
        {% if error_message %}
        <div class="childError">
            <p>Error: {{ error_message }}</p>
        </div>
        {% endif %}
    </div>
    <div class="parent">


        <h2>Results:</h2>
        <div class="child">
            <h3>User Input:</h3>
            <ul>
                {% for rule_string in user_input %}
                <li>{{ rule_string }}</li>
                {% endfor %}
            </ul>
            <!-- <pre class="preformatted">{{ user_input }}</pre> -->
            <!-- Display user input here -->
        </div>


        
        <div class="child">
            <h3>Generated Rule Set:</h3>
            <ul>
                {% for rule_string in rule_strings %}
                <li>{{ rule_string }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="child">
            <h3>Defenses:</h3>
            <ul>
                {% for defender_attacker_string in defended_by_strings %}
                    <div>{{ defender_attacker_string }}</div>
                {% endfor %}
            </ul>
        </div>

        <div class="child">
            <h3>Rebuts Grouped by Conclusion:</h3>
            <ul>
                {% for conclusion, rebuts in rebut_groups.items() %}
                    <li>
                        <strong>Conclusion: {{ conclusion }}</strong>
                        <ul>
                            {% for rebut in rebuts|sort %}
                                <li>{{ rebut[0] }} rebutted by {{ rebut[1] }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="child">
            <h3>Argument Scores:</h3>
            <ul>
                {% for arg, score in scores.items() %}
                    <li>Argument {{ arg }}: Score = {{ score }}</li>
                {% endfor %}
            </ul>
        </div>




<!-- 
        <div class="child" >
            <h2>List of Attacks:</h2>
            <ul>
                {% for attack in attacks %}
                    <li>{{ attack[0] }} attacks {{ attack[1] }}</li>
                {% endfor %}
            </ul>
        </div>
 -->

        <div class="child">
            <h3>Number of Arguments per Defeat In-degree:</h3>
            <canvas id="defeatHistogram"></canvas>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Histogram" />
        </div>



    </div>
</body>
</html>
